    /* HTML-BODY */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: sans-serif;
    }
    /* HEADER */
    
    #header {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dadada;
        box-shadow: 0 1px 2px #dadada;
    }
    
    .nav-left img {
        vertical-align: middle;
    }
    
    .nav-left {
        display: flex;
        height: 100%;
    }
    
    .nav-left ul li {
        position: relative;
        display: inline-block;
        list-style: none;
        align-items: center;
        height: 100%;
    }
    
    .nav-left ul li:hover a {
        color: aqua;
    }
    
    .nav-left a {
        color: #000;
        text-decoration: none;
        display: block;
        line-height: 70px;
        font-size: 16px;
        font-weight: 600;
        padding: 0 8px;
    }
    
    .nav-right {
        display: flex;
        justify-content: space-evenly;
        width: 490px;
    }
    
    .nav-right input {
        width: 332px;
        height: 35px;
        background-color: #e5e7eb;
        outline: none;
        border: none;
        font-size: 16px;
        line-height: 35px;
        border-radius: 4px;
    }
    
    .nav-right img {
        display: inline-block;
    }
    /* product title */
    
    .product-title {
        margin-top: 150px;
        margin-bottom: 40px;
        width: 100%;
        /* display: flex; */
    }
    
    .wrap-title {
        display: flex;
    }
    
    .top {
        display: flex;
    }
    
    .top span {
        color: #dadada;
        font-size: 16px;
    }
    
    .top span:last-child {
        color: black;
    }
    
    .center {
        padding: 24px;
    }
    /* bottom-left */
    
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .bottom-left span:nth-child(2) {
        font-weight: bold;
    }
    /* bottom-right */
    
    .bottom-right {
        display: flex;
        align-items: center;
    }
    
    .bottom-right span:first-child {
        margin-right: 20px;
    }
    
    .bottom-right .save {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* img */
    
    .image {
        width: 100%;
    }
    
    .wrap-image {
        margin: auto;
        position: relative;
        width: 1180px;
    }
    
    .image-left {
        position: relative;
    }
    
    .image-right {
        position: absolute;
        left: 50%;
        top: 0px;
    }
    
    .image-right img {
        margin: 2px;
    }